<%- include('../includes/header'); -%>
  <div class="container py-4">

    <div class="row">
      <div class="col-md-8">
        <h2 class="m-0">
          Hello <%= user.name %>
        </h2>
        <p class="m-0 lead">Have a nice day at work 😊</p>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-4">
            <div class="fs-4" id="dateDiv">---</div>
            <div id="timeDiv">---</div>
          </div>
          <div class="col-8 text-md-end">
            <form action="/" class="mb-2" method="post">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button type="submit" class="btn btn-primary" <%if (punchedIn) { %> disabled <% } %>>Mark
                  Attendance</button>
            </form>
            <%if (punchedIn) { %>
              <div class="text-muted small">Attendance marked.</div>
            <% } else { %>
                <div class="text-muted small">Can not be changed once marked.</div>
            <% } %>
          </div>
        </div>
      </div>
    </div>

    <hr>


    <% if(attendances.length == 0) { %>
      <div class="p-5 text-center">
        <h2 class="text-muted">Attendance Record Not Found</h2>
        <p>Mark your attendance for the day by clicking above button.</p>
      </div>
    <% } else { %>  
      
      <div class="text-muted text-uppercase mb-1 small">Attendance Log</div>
      <ul class="list-group">
        <% attendances.forEach(function(attendance) { %>
          <li class="list-group-item d-flex gap-3 py-3">
            <%= attendance.punchedAt.toLocaleString() %>
          </li>
        <% }); %>
      </ul>

    <% } %>
    
  </div>
<%- include('../includes/footer'); -%>